apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "stoppablecontainer.fullname" . }}-controller
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "stoppablecontainer.labels" . | nindent 4 }}
    control-plane: controller-manager
spec:
  replicas: {{ .Values.controller.replicas }}
  selector:
    matchLabels:
      {{- include "stoppablecontainer.selectorLabels" . | nindent 6 }}
      control-plane: controller-manager
  template:
    metadata:
      labels:
        {{- include "stoppablecontainer.selectorLabels" . | nindent 8 }}
        control-plane: controller-manager
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "stoppablecontainer.serviceAccountName" . }}-controller
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: manager
          image: {{ include "stoppablecontainer.controllerImage" . }}
          imagePullPolicy: {{ .Values.controller.image.pullPolicy }}
          args:
            - --leader-elect={{ .Values.leaderElection.enabled }}
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=:8443
            - --metrics-secure=true
          ports:
            - name: https
              containerPort: 8443
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.controller.resources | nindent 12 }}
          env:
            - name: STOPPABLECONTAINER_EXEC_WRAPPER_IMAGE
              value: {{ include "stoppablecontainer.execWrapperImage" . | quote }}
            - name: STOPPABLECONTAINER_EXEC_WRAPPER_PULL_POLICY
              value: {{ .Values.execWrapper.image.pullPolicy | quote }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
      {{- with .Values.controller.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: 10
