apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    {{- include "stoppablecontainer.labels" . | nindent 4 }}
    pod-security.kubernetes.io/warn: restricted
    pod-security.kubernetes.io/audit: restricted
